body {
    background: #fffdd0;
}

h1 {
    font-size: 24px;
    text-align: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    width: 100%;
}

.shop {
    border: 1px solid;
    width: 30%;
    margin: 5px;
    padding: 5px;
    justify-content: space-evenly;
    background-color: #915429;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.store-name {
    color: #fffdd0;
}

.address {
    font-weight: bold;
}

.phone {}

.menu {
    color: #f5fffa;
}

.yelp {
    color: #f5fffa;
}